<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.merkulyevsasha.industrytest">

    <application
        android:name="ru.merkulyevsasha.industrytest.IndustryTest"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.buildings.BuildingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.flats.FlatsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".presentation.buildingdetails.BuildingDetailsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".presentation.flatdetails.FlatDetailsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            />
        <service
            android:name=".JobServiceUpdater"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>


    </application>

</manifest>